/* as8ar mn 640 */

/* sm */
@media (min-width: 300px) and (max-width: 578px) {
    header .left-nav-top .contact-nav {
        display: none;
    }

    header .nav-top-page .container {
        justify-content: center;
    }

    header .left-nav-top span {
        display: none;
    }

    header nav {
        display: none;
    }

    header {
        height: 80vh;
    }

    header .contact-nav-small a,
    header .contact-nav-small .fa-bars {
        display: block;
    }

    #navbarSmall {
        background-color: var(--backGroundNavMiddel);
    }

    header .overlay-text h1 {
        font-size: 30px;
        margin-bottom: 2rem;
    }

    header .overlay-text {
        padding-bottom: 5rem;
    }

    /*Digetail*/
    .specialty {
        display: none;
    }
/*Cleint Silder*/
    .swiper-client-new img {
        width: 100% !important;
    }

    /* Slide Work */
    .swiper-work {
        /* height: 65vh; */
        height: 80vh;
        margin: 3rem 0;
    }

    .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after, .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
        display: none;
    }
    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin-top: 3rem;
}
    .swiper-work .swiper-slide-work .content-slide .inner-img {
        width: 90%;
    }

    .swiper-work .swiper-slide-work .content-slide img {
        width: 95%;
    }

    .swiper-work .swiper-slide-work .content-slide .text-slide {
        width: 90%;
    }

    .swiper-work .swiper-slide-work .content-slide .text-slide {
        align-items: center;
        margin-bottom: 2rem;
    }

    .swiper-work .swiper-slide-work .content-slide .text-slide a {
        padding: .5rem 4rem;
    }
     /* Team Section  */
    .team-Section .team-details{
        justify-content: center;
    }
    .team-Section .team-details .employee-1 {
        width: 75%;
        margin-bottom: 2rem;
    }
     /*===========*/
     .ColCcc {
        flex-wrap: wrap;
    }
   .ColCcc2{
    width: 100%;
   }
}



@media (min-width: 578px) and (max-width:768px) {
    header .left-nav-top .contact-nav {
        display: none;
    }

    header .nav-top-page .container {
        justify-content: center;
    }

    header .left-nav-top span {
        display: none;
    }

    header nav {
        display: none;
    }

    header {
        height: 80vh;
    }

    .contact-nav-small {
        background-color: var(--backGroundNavMiddel);
    }

    header .contact-nav-small a,
    header .contact-nav-small .fa-bars {
        display: block;
    }

    #navbarSmall {
        background-color: var(--backGroundNavMiddel);
    }

    /*Digetail*/
    .specialty {
        display: none;
    }
    /*Cleint Silder*/
    .swiper-client-new img {
        width: 100% !important;
    }
    /* Slide Work */
    .swiper-work {
        height: 80vh;
    }

    .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after, .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
        display: none;
    }

    .swiper-work .swiper-slide-work .content-slide .inner-img {
        width: 90%;
    }

    .swiper-work .swiper-slide-work .content-slide img {
        width: 85%;
    }

    .swiper-work .swiper-slide-work .content-slide .text-slide {
        width: 80%;
    }

    .swiper-work .swiper-slide-work .content-slide .text-slide {
        align-items: center;
    }

    .swiper-work .swiper-slide-work .content-slide .text-slide a {
        padding: .5rem 4rem;
        margin-bottom: 3rem;
    }
    /* Slider Work */
     /* Team Section  */
    .team-Section .team-details .employee-1 {
        width: 45%;
        margin-bottom: 2.3rem;
    }
      /*===========*/
      .ColCcc {
        flex-wrap: wrap;
        flex-direction: column;
    }
}


/* md */
@media (min-width: 768px) and (max-width: 991px) {
    /* Header */
    header .left-nav-top .contact-nav {
        display: none;
    }

    header .nav-top-page .container {
        justify-content: center;
    }

    header .left-nav-top span {
        display: none;
    }

    header nav {
        display: none;
    }

    header {
        height: 80vh;
    }

    header .contact-nav-small a,
    header .contact-nav-small .fa-bars {
        display: block;
    }
    /* nav */
    #navbarSmall {
        background-color: var(--backGroundNavMiddel);
    }
    /*Digetail*/
    .specialty {
        display: none;
    }
    /* Slide Work */
    .swiper-work {
        height: 90vh;
        margin: 2.5rem 0;
    }

    .swiper-work .swiper-slide-work .content-slide .inner-img {
        width: 80%;
        margin-bottom: 2rem;
    }

    .swiper-work .swiper-slide-work .content-slide img {
        width: 75%;
    }

    .swiper-work .swiper-slide-work .content-slide .text-slide {
        width: 60%;
    }

    .swiper-work .swiper-slide-work .content-slide .text-slide {
        align-items: center;
    }

    .swiper-work .swiper-slide-work .content-slide .text-slide a {
        padding: .5rem 4rem;
        margin-bottom: 3.5rem;
    }
    /* team section */
    .team-Section .team-details .employee-1 {
        width: 45%;
        margin-bottom: 2.5rem;
    }
}
/* lg */
@media (min-width: 991px) and (max-width:1200px){
    /* team section */
    .team-Section .team-details .employee-1 {
        width: 30%;
        margin-bottom: 1.9rem;
    }
}

/* xl */
@media (min-width: 1280px) {}

/* lg */
@media (min-width: 1536px) {}