:root {
    --mainColor_1: #F6463E;
    --mainColor_2: #762DC4;
    --mainColor_3: #000000;
    --headtitle: rgb(57, 57, 57);
    --Ptitle: rgb(77, 77, 77);
    --mainColor_4: #ffffff;
    --tapColor:
        rgb(190, 190, 190);
    --footerColor: rgb(209, 193, 228);
    --footerColor2: rgb(237, 235, 239);
    --bgForm: #F1F1F1;
    --ColorBorder: #eee;
    --backGroundNavTop: #1c1e1fca;
    --backGroundNavMiddel: #1c1e1f70;
    /* Font Size */
    --FontSizeNavItem: 18px;
    /* Border Radius */
    --buttonBorderRadius: 5px;
    --divBorderRadius: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Cairo", sans-serif;
}



/* Start Header */
header {
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/170014094459201.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

/* Nav Top */
header .nav-top-page {
    background-color: var(--backGroundNavTop);
    padding: .3rem 0;
}

header .nav-top-page .container {
    justify-content: space-between;
}

header .nav-top-page .mav-logo {
    width: 100px;
}

header .left-nav-top .contact-nav {
    margin-bottom: 1rem;
}

header .left-nav-top .contact-nav a,
header .contact-nav-small a,
header .contact-nav-small .fa-bars {
    color: var(--mainColor_4);
    cursor: pointer;
}

header .contact-nav-small .fa-bars {
    font-size: 25px;
}

header .contact-nav-small a,
header .contact-nav-small .fa-bars {
    display: none;
}

header .left-nav-top span {
    border-left: 3px solid var(--mainColor_4);
    height: 80%;
}

header .left-nav-top img {
    width: 60px;
}

/* Nav Middel */
header #navbar {
    background-color: var(--backGroundNavMiddel);
    transition: .5s;
}

nav ul {
    width: 60%;
    list-style: none;
    margin: 0;
    padding: .8rem 0;
}

nav ul li a {
    color: var(--mainColor_4);
    font-size: var(--FontSizeNavItem);
    position: relative;
}

nav ul li a::before {
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--mainColor_1);
    position: absolute;
    top: 130%;
    right: 50%;
    transition: .5s;
}

nav ul li:hover a::before {
    width: 130%;
    transform: translate(50%);
}

.swing {
    background-color: var(--mainColor_4);
    color: var(--mainColor_2);
    font-size: 16px;
    padding: 7px 10px;
    border-radius: var(--buttonBorderRadius);
    border: 2px solid var(--mainColor_4);
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    float: left;
    transition: .5s;
}

.swing:hover {
    color: var(--mainColor_4);
    border-color: var(--mainColor_2);
}

.swing::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--mainColor_2);
    z-index: -1;
    transition: .5s;
}

.swing:hover::before {
    width: 100%;
}

@keyframes swing {
    0% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(-10deg);
    }
}

/* Overlay Text */
header .overlay-text {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-40%, -40%);
}

header .overlay-text h1 {
    font-size: 45px;
    font-weight: 700;
    color: var(--mainColor_4);
}

header .overlay-text .btn-pdf_contact a {
    background-color: #F6463E;
    color: var(--mainColor_4);
    padding: 15px;
    border-radius: var(--buttonBorderRadius);
}

header .overlay-text .btn-pdf_contact .contact-link {
    background-color: var(--mainColor_2);
    padding: 15px 28px;
}


/*=======  start who are you======*/
.iconName {
    display: none;
}

.digetailimg:hover .icon-name {
    display: block;
}

.specialty img {
    width: 30px;
}


.titleArr {
    color: var(--headtitle);
}

.pTitle {
    color: var(--Ptitle);
}

.titleArr::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 45%;
    width: 50px;
    height: 5px;
    border-radius: 25px;
    background-color: var(--mainColor_2);

}

.AboutProject {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.ContactFooter li {
    list-style: none;
}






/* Side Nav */
/* header .sideNavC {
    width: 75%;
    height: 100vh;
    position: fixed;
    z-index: 999999;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-right: 3rem;
    background-color: var(--backGroundNavTop);
    font-size: 35px;
    transform: translateX(-100%);
    transition: .8s;
} */

#sideNav {
    width: 75%;
    height: 100vh;
    position: fixed;
    z-index: 999999;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-right: 3rem;
    background-color: var(--backGroundNavTop);
    font-size: 35px;
    transform: translateX(-100%);
    transition: .8s;

}

/* #sideNav:hover{
    overflow: scroll;
} */
#sideNav ul li a:hover {
    color: var(--mainColor_1);
}

#sideNav .fa-xmark {
    color: var(--mainColor_1);
    transition: .5s;
}

#sideNav .fa-xmark:hover {
    color: red;
}



/*Contact Us*/
.btnContact {
    background-color: var(--mainColor_2);
}

.ContactLive {
    background-color: var(--mainColor_2);
}

.formContact input,
.formContact textarea,
.formContact select {
    background-color: var(--bgForm) !important;
}

.svg-inline--fa {
    width: 50px;
    border: 2px green solid;
    border-radius: 50%;
    padding: 10px;

}


.navitemTapsFree .navFree {
    background-color: var(--bgForm);
    color: var(--tapColor);
    border: 1px solid var(--ColorBorder);
    font-size: 18px;
}

.navitemTapsFree .navFree.active {
    color: var(--mainColor_2);
    border: 1px solid var(--mainColor_2) !important;
}

.navitemTapsFree .navJaddah {
    color: var(--tapColor);
}

.navitemTapsFree .navJaddah.active {
    color: var(--mainColor_1);
    border: 1px solid var(--mainColor_1) !important;
}

.emailContact {
    color: var(--mainColor_2);

}

.borderemail {
    border-color: var(--mainColor_2) !important;

}



/*footer*/
.ServicesFooter li,
.pagesFooter li,
.ContactLi li {
    list-style: none;
}

footer {
    background-image: linear-gradient(90deg, rgba(247, 82, 76, 0.326) 0%, rgba(118, 45, 196, 0.486) 50%, rgba(0, 0, 0, 0.628) 100%), url(../img/wallpaperflare.com_wallpaper\ \(7\).jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.headFooter {
    color:
        var(--footerColor);
    line-height: 27px;

}

.ancorCall {
    color: var(--footerColor);
}

.ServicesFooter a,
.descFooter {
    color: var(--footerColor2);

}

.pagesFooter a {
    color: var(--footerColor2);
}


/* start servies */
/* .servies .row {
    gap: 1rem;
    margin: 0;
} */
.servies .row .servies-item .inner-item {
    width: 99%;
    height: 94%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 2rem;
    margin-bottom: 1rem;
    border-radius: var(--divBorderRadius);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
/* .servies .row .servies-item .inner-item img {
    width: 40px;
    color: #F1F1F1;
} */
.servies .row .servies-item .inner-item p{
    color: #BEBEBE;
    font-size: 17px;
    text-align: center;
}