:root {
    --mainColor_1: #F6463E;
    --mainColor_2: #762DC4;
    --mainColor_3: #000000;
    --mainColor_4: #ffffff;
    --backGroundNavTop: #1c1e1f81;
    --backGroundNavMiddel: #5d5f5f63;
    /* Font Size */
    --FontSizeNavItem: 20px;
    /* Border Radius */
    --buttonBorderRadius: 5px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* Start Header */
header{
    width: 100%;
    height: 95vh;
    background-image: url('https://images.pexels.com/photos/3987066/pexels-photo-3987066.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-repeat: no-repeat;
    background-size: cover;
}
/* Nav Top */
header .nav-top-page{
    background-color: var(--backGroundNavTop);
    padding: 0.5em;
}
header .nav-top-page .mav-logo{
    width: 200px;
}
header .left-nav-top .contact-nav{
    margin-bottom: 1rem;
}
header .left-nav-top .contact-nav a{
    color: var(--mainColor_4);
}
header .left-nav-top span{
    border-left: 3px solid var(--mainColor_4);
    height: 85%;
    margin: 0 .9rem 0 1.5rem;
}
header .left-nav-top img{
    width: 75px;
}
/* Nav Middel */
header nav{
background-color: var(--backGroundNavMiddel);
}
nav ul{
    width: 60%;
    list-style: none;
    margin: 0;
    padding: 1.3rem 0;
}
nav ul li a{
    color: var(--mainColor_4);
    font-size: var(--FontSizeNavItem);
}
.swing {
    background-color: var(--mainColor_4);
    color: var(--mainColor_2);
    font-size: 18px;
    padding: 10px 12px;
    border-radius: var(--buttonBorderRadius);
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    float:left;
}
@keyframes swing {
    0% { transform: rotate(10deg); }
    100% { transform: rotate(-10deg); }
}
/* Overlay Text */
header .overlay-text h1{
    font-size: 50px;
    color: var(--mainColor_4);
}
header .overlay-text .btn-pdf_contact a{
    color: var(--mainColor_4);
    background-color: #F6463E;
    padding: 18px;
    border-radius: var(--buttonBorderRadius);
}
header .overlay-text .btn-pdf_contact .contact-link{
    background-color: var(--mainColor_2);
    padding: 18px 28px;
}