:root {
    --mainColor_1: #F6463E;
    --mainColor_2: #762DC4;
    --mainColor_5: #a656fc;
    --mainColor_3: #000000;
    --headtitle: rgb(57, 57, 57);
    --Ptitle: rgb(77, 77, 77);
    --mainColor_4: #ffffff;
    --tapColor: rgb(190, 190, 190);
    --footerColor: rgb(209, 193, 228);
    --footerColor2: rgb(237, 235, 239);
    --bgForm: #F1F1F1;
    --ColorBorder: #eee;
    --backGroundNavTop: #1c1e1fca;
    --backGroundNavMiddel: #1c1e1f70;
    /* Font Size */
    --FontSizeNavItem: 18px;
    /* Border Radius */
    --buttonBorderRadius: 5px;
    --divBorderRadius: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Cairo", sans-serif;
}



/* Start Header */
header {
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(rgba(79, 79, 79, 0.47), rgba(5, 5, 5, 0.511)), url(../img/backgroundAll.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

/* Nav Top */
header .nav-top-page {
    background-color: var(--backGroundNavTop);
    padding: .3rem 0;
}

header .nav-top-page .container {
    justify-content: space-between;
}

header .nav-top-page .mav-logo {
    width: 100px;
}

header .left-nav-top .contact-nav {
    margin-bottom: 1rem;
}

header .left-nav-top .contact-nav a,
header .contact-nav-small a,
header .contact-nav-small .fa-bars {
    color: var(--mainColor_4);
    cursor: pointer;
}

header .contact-nav-small .fa-bars {
    font-size: 25px;
}

header .contact-nav-small a,
header .contact-nav-small .fa-bars {
    display: none;
}

header .left-nav-top span {
    border-left: 3px solid var(--mainColor_4);
    height: 80%;
}

header .left-nav-top img {
    width: 60px;
}

/* Nav Middel */
header #navbar {
    background-color: var(--backGroundNavMiddel);
    transition: .5s;
}

nav ul {
    width: 60%;
    list-style: none;
    margin: 0;
    padding: .8rem 0;
}

nav ul li a {
    color: var(--mainColor_4);
    font-size: var(--FontSizeNavItem);
    position: relative;
}

nav ul li a::before {
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--mainColor_1);
    position: absolute;
    top: 130%;
    right: 50%;
    transition: .5s;
}

nav ul li:hover a::before {
    width: 130%;
    transform: translate(50%);
}

.swing {
    background-color: var(--mainColor_4);
    color: var(--mainColor_2);
    font-size: 16px;
    padding: 7px 10px;
    border-radius: var(--buttonBorderRadius);
    border: 2px solid var(--mainColor_4);
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    float: left;
    transition: .5s;
}

.swing:hover {
    color: var(--mainColor_4);
    border-color: var(--mainColor_2);
}

.swing::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--mainColor_2);
    z-index: -1;
    transition: .5s;
}

.swing:hover::before {
    width: 100%;
}

@keyframes swing {
    0% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(-10deg);
    }
}

/* Overlay Text */
header .overlay-text {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-40%, -40%);
}

header .overlay-text h1 {
    font-size: 45px;
    font-weight: 700;
    color: var(--mainColor_4);
}

header .overlay-text .btn-pdf_contact a {
    background-color: var(--mainColor_1);
    color: var(--mainColor_4);
    padding: 15px;
    border-radius: var(--buttonBorderRadius);
    transition: .5s;
}

header .overlay-text .btn-pdf_contact .pdf:hover {
    background-color: var(--mainColor_2);
}

header .overlay-text .btn-pdf_contact .contact-link {
    background-color: var(--mainColor_2);
    padding: 15px 28px;
    transition: .5s;
}

header .overlay-text .btn-pdf_contact .contact-link:hover {
    background-color: var(--mainColor_1);
}



/*=======  start who are you======*/
.hideP {
    display: none;
    width: max-content;
}

.myhide:hover+.hideP {
    display: block;
}

.specialty .container {
    height: 10vh;
}

.specialty img {
    width: 30px;
}


.titleArr,
.titleArr2 {
    color: var(--headtitle);
}

.pTitle {
    color: var(--Ptitle);
}

.titleArr::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 45%;
    width: 50px;
    height: 5px;
    border-radius: 25px;
    background-color: var(--mainColor_2);

}

.titleArr2::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 36%;
    width: 50px;
    height: 5px;
    border-radius: 25px;
    background-color: var(--mainColor_2);

}

.cardWho,
.cardwho2 {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    border-radius: var(--divBorderRadius);
}



.ContactFooter li {
    list-style: none;
}

#sideNav {
    width: 75%;
    height: 100vh;
    position: fixed;
    z-index: 999999;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-right: 3rem;
    background-color: var(--backGroundNavTop);
    font-size: 35px;
    transform: translateX(-100%);
    transition: .8s;

}

/* #sideNav:hover{
    overflow: scroll;
} */
#sideNav ul li a:hover {
    color: var(--mainColor_1);
}

#sideNav .fa-xmark {
    color: var(--mainColor_1);
    transition: .5s;
}

#sideNav .fa-xmark:hover {
    color: red;
}

/*client*/
.swiperClient {
    cursor: pointer;
}



/*Contact Us*/
.btnContact {
    background-color: var(--mainColor_2);
}

.ContactLive {
    background-color: var(--mainColor_2);
}

.formContact input,
.formContact textarea,
.formContact select {
    background-color: var(--bgForm) !important;
}

.svg-inline--fa {
    width: 50px;
    border: 2px green solid;
    border-radius: 50%;
    padding: 10px;

}


.navitemTapsFree .navFree {
    background-color: var(--bgForm);
    color: var(--tapColor);
    border: 1px solid var(--ColorBorder);
    font-size: 18px;
}

.navitemTapsFree .navFree.active {
    color: var(--mainColor_2);
    border: 1px solid var(--mainColor_2) !important;
}

.navitemTapsFree .navJaddah {
    color: var(--tapColor);
}

.navitemTapsFree .navJaddah.active {
    color: var(--mainColor_1);
    border: 1px solid var(--mainColor_1) !important;
}

.emailContact {
    color: var(--mainColor_2);

}

.borderemail {
    border-color: var(--mainColor_2) !important;

}

/*client*/
.swiperClient {
    cursor: pointer;
}


/*footer*/
.ServicesFooter li,
.pagesFooter li,
.ContactLi li {
    list-style: none;
}

footer {
    background-image: linear-gradient(90deg, rgba(247, 82, 76, 0.326) 0%, rgba(118, 45, 196, 0.486) 50%, rgba(0, 0, 0, 0.628) 100%), url(../img/wallpaperflare.com_wallpaper\ \(7\).jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.headFooter {
    color:
        var(--footerColor);
    line-height: 27px;

}

.ancorCall {
    color: var(--footerColor);
}

.ServicesFooter a,
.descFooter {
    color: var(--footerColor2);

}

.pagesFooter a {
    color: var(--footerColor2);
}


/* start servies */
/* .servies .row {
    gap: 1rem;
    margin: 0;
} */
.servies .row .servies-item .inner-item {
    width: 99%;
    height: 94%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 2rem;
    margin-bottom: 1rem;
    border-radius: var(--divBorderRadius);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: relative;
}

/* mauve color */
.mauve-color::before,
.orange-color::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 99%;
    height: 100%;
    clip-path: ellipse(50px 50px at 0% 100%);
    background-color: var(--mainColor_2);
    border-radius: var(--divBorderRadius);
    z-index: -1;
    transition: .5s;
}

.orange-color::before {
    background-color: var(--mainColor_1);
}

.mauve-color:hover::before,
.orange-color:hover:before {
    clip-path: ellipse(150% 150% at 0% 100%);
}

.servies .row .servies-item .inner-title-servise {
    font-weight: 700;
    transition: .5s;
}

.servies .row .servies-item .mauve-color:hover p,
.servies .row .servies-item .mauve-color:hover h5,
.servies .row .servies-item .orange-color:hover p,
.servies .row .servies-item .orange-color:hover h5 {
    color: var(--mainColor_4);
}

.servies .row .servies-item .inner-item p {
    color: #BEBEBE;
    font-size: 17px;
    text-align: center;
    transition: .5s;
}

/*conection icon*/

.changeColor {
    color: var(--mainColor_2);
}

.BGIcon {
    background-color: var(--mainColor_2);
}


.whatsaapIcon,
.PhoneIcon {
    cursor: pointer;
}

.Phoneindex,
.whatsappindex {
    z-index: 9999999999999;
}

/*========animation icom in conection Icon===========*/
@keyframes animate {
    0% {
        transform: scale(.5);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(.9);
        opacity: 0;
    }
}

.whatsaapIcon::before {
    content: '';
    display: block;
    position: absolute;
    border: 2px solid #25d366 !important;
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
    border-radius: 50%;
    animation: 1s linear infinite animate !important;
}

.PhoneIcon::before {
    content: '';
    display: block;
    position: absolute;
    border: 2px solid var(--mainColor_5) !important;
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
    border-radius: 50%;
    animation: 1s linear infinite animate !important;
}

/*========end animation icom in conection Icon===========*/
/*end conection icon*/


/* swiper slide */
.swiper-work {
    width: 100%;
    height: 80vh;
}

.swiper-slide-work {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 30px;
    height: 3px;
    margin-top: 1.5rem;
    border-radius: var(--divBorderRadius);
    background-color: var(--mainColor_2);
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {

    .swiper-rtl .swiper-button-prev:after,
    .swiper-rtl .swiper-button-next:after,
    .swiper-rtl .swiper-button-prev:after,
    .swiper-rtl .swiper-button-next:after {
        background-color: var(--mainColor_4);
        color: var(--mainColor_3);
        border: 1px solid #bebebe5f;
        padding: .8rem 1.1rem;
        font-size: 15px;
        font-weight: bold;
        border-radius: 50px;
    }
}

.swiper-work .swiper-slide-work .content-slide {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

/* inner slide (slide section) */
.swiper-work .swiper-slide-work .content-slide .inner-img {
    width: 65%;
}

.swiper-work .swiper-slide-work .content-slide .text-slide {
    width: 35%;

}

.swiper-work .swiper-slide-work .content-slide img {
    width: 65%;
    border-radius: var(--divBorderRadius);
    margin: auto;
}

.swiper-work .swiper-slide-work .content-slide .text-slide {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.swiper-work .swiper-slide-work .content-slide .text-slide .title-slide-item {
    color: var(--mainColor_3);
    font-size: 28px;
    font-weight: 700;
}

.swiper-work .swiper-slide-work .content-slide .text-slide .start-p {
    color: var(--fontColor-P);
    font-size: 14px;
}

.swiper-work .swiper-slide-work .content-slide .text-slide .end-p {
    color: var(--mainColor_1);
    font-size: 20px;
    font-weight: 700;
}

.swiper-work .swiper-slide-work .content-slide .text-slide a {
    background-color: #F6463E;
    color: var(--mainColor_4);
    padding: 10px 15px;
    border-radius: var(--divBorderRadius);
}

/* +++++ end slide +++++ */
/* Team Section */
.team-Section .team-details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.team-Section .team-details .employee-1 {
    width: 23%;
    padding: 1rem;
    margin: .4rem;
    box-shadow: 0px 7px 29px 0px rgba(0, 0, 0, 0.553);
    border-radius: var(--divBorderRadius);
}

.team-Section .team-details .employee-1 img {
    width: 100%;
    border-radius: var(--divBorderRadius);
}

.team-Section .team-details .details i {
    transition: .5s;
}

.team-Section .team-details .details .fa-square-github:hover {
    color: #000000;
}

.team-Section .team-details .details .fa-linkedin:hover {
    color: #2864AA;
}

/* End Team Section */
/* swiper slide */
.swiper-work {
    width: 100%;
    height: 80vh;
}

.swiper-slide-work {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 30px;
    height: 3px;
    margin-top: 1.5rem;
    border-radius: var(--divBorderRadius);
    background-color: var(--mainColor_2);
}

.swiper-rtl .swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    background-color: var(--mainColor_4);
    color: var(--mainColor_3);
    border: 1px solid #bebebe5f;
    padding: .8rem 1.1rem;
    font-size: 15px;
    font-weight: bold;
    border-radius: 50px;
}

.swiper-work .swiper-slide-work .content-slide {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

/* inner slide (slide section) */
.swiper-work .swiper-slide-work .content-slide .inner-img {
    width: 65%;
}

.swiper-work .swiper-slide-work .content-slide .text-slide {
    width: 35%;

}

.swiper-work .swiper-slide-work .content-slide img {
    width: 65%;
    border-radius: var(--divBorderRadius);
    margin: auto;
}

.swiper-work .swiper-slide-work .content-slide .text-slide {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.swiper-work .swiper-slide-work .content-slide .text-slide .title-slide-item {
    color: var(--mainColor_3);
    font-size: 28px;
    font-weight: 700;
}

.swiper-work .swiper-slide-work .content-slide .text-slide .start-p {
    color: var(--fontColor-P);
    font-size: 14px;
}

.swiper-work .swiper-slide-work .content-slide .text-slide .end-p {
    color: var(--mainColor_1);
    font-size: 20px;
    font-weight: 700;
}

.swiper-work .swiper-slide-work .content-slide .text-slide a {
    background-color: #F6463E;
    color: var(--mainColor_4);
    padding: 10px 15px;
    border-radius: var(--divBorderRadius);
}

/* +++++ end slide +++++ */
.colprod {
    transition: transform 250ms;


    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, .35) 0 5px 15px;
    height: 260px;
    position: relative;


}


.colprod:hover {
    transform: translateY(-10px);
}


.Lrow {
    margin-top: 80px;
    transition: transform 250ms;
}

.Rrow {
    margin-top: 10px;
    transition: transform 250ms;
}

.Rrow:hover {
    transform: translateY(-10px);
}

.Lrow:hover {
    transform: translateY(-10px);
}

.Rrow,
.Lrow {
    width: 40%;
    height: 280px;
    box-shadow: rgba(0, 0, 0, .35) 0 5px 15px;

}

.fiveHand {
    background-color: #F8F4FC;
}

.imgcreativity {
    background-color: #F8F4FC;
}

.numFive {
    color: var(--mainColor_2);
}

.infoR {
    position: absolute;

    height: 20px;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #F6463E;
}

.infoL {
    position: absolute;

    height: 20px;
    top: 0;
    right: 0;
    width: 100%;
    background-color: var(--mainColor_2);
}

/* scroll */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--mainColor_2);
    border-radius: 50px;
}