:root {
    --fontWeight: 700;
    --colorWhite: #ffffff;
}

a {
     text-decoration: none;
}

/* all offers style */
#header-offers {
    height: 75vh;
}

.offers .container .text-offers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.offers .container .text-offers h1,
.discount {
    color: var(--mainColor_2);
    font-size: 40px;
    font-weight: var(--fontWeight);
    filter: drop-shadow(3px 2px 1px var(--tapColor));
}

.offers .container .text-offers .discount {
    font-weight: 400;
    word-spacing: 3px;
}

.offers .container .text-offers .text {
    font-size: 14px;
    line-height: 21px;
    color: rgb(102, 102, 102);
    font-weight: var(--fontWeight);
}

.link-to-offers {
    width: 80%;
    text-align: center;
    color: var(--colorWhite);
    font-size: 24px;
    font-weight: var(--fontWeight);
    padding: .9rem;
    margin-top: 2rem;
    border-radius: 35px;
    transition: .5s;
    background: linear-gradient(0deg, rgb(81, 52, 106) 55%, rgb(145, 74, 208) 100%);
}

.link-to-offers-bottom {
    display: none;
    margin-top: 3rem;
}

.link-to-offers:hover,
.link-to-offers-bottom:hover {
    background: linear-gradient(0deg, rgb(118, 58, 171) 55%, rgb(81, 52, 106) 100%);
}

.offers .container .img-offers {
    display: flex;
    justify-content: center;
    align-items: center;
}

.offers .container .img-offers img {
    width: 85%;
}

/* offers colors */
.offers-colors {
    background: linear-gradient(90deg, rgba(119, 46, 195, 1) 2%, rgba(243, 70, 66, 1) 100%);
}

.offers-colors .container .text-offers h1,
.offers-colors .discount {
    color: white;
    filter: none;
}

.offers-colors .container .text-offers .text {
    color: rgb(255, 255, 255);
    font-weight: 400;
    line-height: 40px;
}

.offers-colors .container .img-offers img {
    width: 100%;
}

/* ********************** Product Page ************************* */
.details-proudact .title {
    font-size: 40px;
    font-weight: var(--fontWeight);
    color: var(--mainColor_2);
}

.details-proudact .details-text {
    margin-top: 2rem;
    font-size: 17px;
    line-height: 36px;
    color: rgb(102, 102, 102);
}

.details-proudact .details-text .details-span {
    font-size: 20px;
    font-weight: var(--fontWeight);
    line-height: 40px;
}

.details-proudact .details-img img {
    width: 85%;
    border-radius: 35px;
    box-shadow: rgba(102, 102, 102, .5) 5px 5px 10px;
    transition: .5s;
    transition: transform 350ms;
}

.details-proudact .details-img img:hover {
    transform: translateY(-10px);
}

/* show app */
.show-app .btn-store a i{
    font-size: 30px;
}
.show-app .btn-store a {
    background-color: var(--mainColor_1);
    color: white;
    font-size: 14px;
    font-weight: 700;
    border-radius: 35px;
    padding: 1rem 3rem;
    margin: 1rem;
    display: flex;
    align-items: center;
    transition: .5s;
}
.show-app .btn-store .google-play:hover {
    background-color: var(--mainColor_2);
}
.show-app .btn-store .app-store{
    background-color: var(--mainColor_2);
}
.show-app .btn-store .app-store:hover{
    background-color: var(--mainColor_1);
}
    /* scroll */
::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--mainColor_2);
    border-radius: 50px;
}





.titleWho2 {
    background-color: #F6463E;
}
